body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	/*outline: 1px solid red;*/
}

/*top menu*/
.menu-all {
	background-color: #139f49;
	background-image:url('../images/pattern.png');
}

.flex-menu {
	display: flex;
	padding: 0;
	margin: 0;
	height: 75px;
	justify-content: space-between;
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	/*outline: 1px solid green;*/
}

.flex-menu li {
	display: flex;
	align-items:center;
  	justify-content:center;
}

.header-menu a {
	text-decoration-line: none;
	color: white;
	position: relative;
	padding: 5px 0;
}
.header-menu a::before,
.header-menu a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	opacity: 0;
}
.header-menu a::before {
	top: 0;
}
.header-menu a::after {
	bottom: 0;
}
.header-menu.is-active a::before,
.header-menu.is-active a::after,
.header-menu a:hover::before,
.header-menu a:hover::after {
	opacity: 1;
}

/*top menu*/

.main-section {
	height: 684px;
	background: url('../images/art_museum_render_1.jpg') no-repeat;
	background-position: center center;
}
.panel-wrapper {
	display: flex;
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	justify-content:space-between;
	margin-top: 40px;
}
.logo-part{
	margin-top: -10px;
}
.menu-part {
	display: flex;
	justify-content: flex-end;
}
.menu-part span {
	font-size: 12px;
	color: #6cb781;
	margin-top: 5px;
	margin-right: 8px;
}
.menu-part a {
	margin-right: 1px;
	margin-left: 3px;
}
.menu-part a:hover {
	opacity: 0.5;
}
.tel {
	color: rgba(49, 47, 127, 1.0);
	font-weight: bold;
}
.tel a {
	text-decoration-line: none;
	line-height: 10px;
	color: rgba(49, 47, 127, 1.0);
	font-weight: bold;
}
.tel a:hover {
	text-decoration-line: underline;
}
.search-magnifier {
	display: flex;
	justify-content: flex-end;
}
.search {
	width: 380px;
	border-radius: 0;
	border: 1px solid white;
	border-bottom: 1px solid #cecece;
}
.magnifier {
	border: 1px solid white;
	background: none;
	cursor: pointer;
}

/*slider*/
.slider {
	display: flex;
	justify-content: center;
	max-width: 980px;
	max-height: 495px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
.slider-image {
	position: static;
}
.slider-text {
	position: absolute;
	left:0;
	bottom:40px;
	background: rgba(0,0,0,0.4);
	max-width: 770px;
	color:#fff;
	font-family:EuropeExt, sans-serif;
	font-weight: normal;
   	font-size: 30px;
	text-transform: uppercase;
	padding-top: 33px;
	padding-bottom: 5px;
	padding-left:  30px;
	padding-right: 60px;
}

.slider-text-down{
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size:24px;
	margin-top:15px;
}

/*stylization dots*/
.slick-dots{
	position: absolute;
	text-align: left;
	bottom: 15px;
	margin-left: 25px;

}
.slick-dots li {
	width: 32px;
	height: 12px;
	color:#ffffff;
	background: #ffffff;
}

.slick-dots li.slick-active {
	color:#01983b;
	background: #01983b;
}
.slick-dotted.slick-slider{
	margin-bottom: 0;
}

/*stylization arrows*/
.slick-prev:before,
.slick-next:before{
 	font-size: 36px;
	color: black;
	opacity: .25;
}
.slick-prev{
	left:-50px;
}
.slick-next{
	left: 995px;
}

.shadow-down {
	display: flex;
	justify-content: center;
}
/*block with video*/
.main-section-2 {
	background: url('../images/penopolistirol.png') no-repeat;
	background-position: center top;
	background-size: auto;
	/*outline: 1px solid green;*/
}
.logo-part2 {
	display: flex;
	justify-content: center;
	padding-top: 70px;
}
.text2 {
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #073d79;
	text-align: center;
	text-transform: uppercase;
	padding-top: 23px;
}
.video-content {
	display: flex;
	justify-content: center;
	padding-top: 12px;
}
.shadow-down2 {
	display: flex;
	justify-content: center;
}
.text-content {
	margin-top: -35px;
	margin-right: auto;
	margin-left: auto;
	max-width: 830px;
	font-size: 14px;
	line-height: 1.5em;
	text-align: center;
}
.button-push {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 26px;
}
.button-push a {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 405px;
	height: 52px;
	background: #01983b;
	border-radius: 4px;
	font-family:EuropeExt, sans-serif;
	font-size: 24px;
	text-decoration-line: none;
	text-transform: uppercase;
	color: #ffffff;
	background-image:url('../images/pattern.png');
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}
.button-push a:hover {
	background-color: #70c590;
}
.button-push a:active {
	background-color: #004b1d;
 }
 /*- БЛОК «СФЕРА ПРИМЕНЕНИЯ»*/
.main-section-3 {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 826px;
	background: url('../images/background-image3.png') no-repeat;
	background-position: center top;
	/* background-position-x: 177px; */
}
.text3 {
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #0A3F76;
	text-align: center;
	text-transform: uppercase;
	padding-top: 46px;
}
.module-title {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 32px;
}

/*левый блок*/
.module-block1-left {
	position: relative;
	min-width: 614px;
	margin-right: 3px;
	height: 309px;
	background-image:url('../images/picture-for-section-3_1.png');

}
.module-block1-left::before {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0,0,0,0.5);
 }
.headline-module-block1-left {
	position: absolute;
	text-transform: uppercase;
	font-size: 24px;
	color: #ffffff;
	top:24px;
	right:50px;
}

.block-3-left li:nth-child(3) {
	background-color:#01983b;
	padding: 1px 45px;
	font-size: 14px;
	color: #ffffff;
	text-transform:uppercase;
	text-align: right;
}
.block-3-left li:nth-child(2) {
	min-width: 40px;
	background-color: rgba(1, 152, 59, 0.6 )
}
.block-3-left li:nth-child(1) {
	min-width: 45px;
	background-color: rgba(1, 152, 59, 0.3 )
}
.block-3-ul-1-l {
	display: flex;
	position: absolute;
	margin: 0;
	top:60px;
	right: 0;
	list-style: none;
}
.block-3-ul-2-l {
	display: flex;
	position: absolute;
	margin: 0;
	top:85px;
	right: 0;
	list-style: none;
}
.block-3-ul-3-l {
	display: flex;
	position: absolute;
	margin: 0;
	top:110px;
	right: 0;
	list-style: none;
}
.logo-3-left {
	position: absolute;
	bottom: 0;
	right: 0;
}
.logo-3-left img {
	display: block;
	background: rgba(255, 255, 255, 0.3);
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 375px;
    padding-right: 50px;
}
/*правый блок*/
.module-block-right {
	position: relative;
	min-width: 614px;
	margin-left: 3px;
	height: 309px;
	background-image:url('../images/picture-for-section-3_2.png');
}
.module-block-right::before {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0,0,0,0.5);
 }
.headline-module-block2-right {
	position: absolute;
	text-transform: uppercase;
	font-size: 24px;
	color: #ffffff;
	top:24px;
	left:43px;
}
.block-3-right li:nth-child(3) {
	background-color:#01983b;
	padding: 1px 45px;
	font-size: 14px;
	color: #ffffff;
	text-transform:uppercase;
	text-align: right;
}
.block-3-right li:nth-child(2) {
	min-width: 40px;
	background-color: rgba(1, 152, 59, 0.6 )
}
.block-3-right li:nth-child(1) {
	min-width: 45px;
	background-color: rgba(1, 152, 59, 0.3 )
}
.block-3-ul-1-r {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	padding-left: 0;
	margin: 0;
	top:60px;
	left: 0;
	list-style: none;
}
.block-3-ul-2-r {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	padding-left: 0;
	margin: 0;
	top:85px;
	left: 0;
	list-style: none;
}
.block-3-ul-3-r {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	padding-left: 0;
	margin: 0;
	top:110px;
	left: 0;
	list-style: none;
}
.logo-3-right {
	position: absolute;
	bottom: 0;
	left: 0;
}
.logo-3-right img {
	display: block;
	background: rgba(255, 255, 255, 0.3);
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 50px;
    padding-right: 375px;
}
/*РОМБЫ*/
.logo-rhombus{
	display: flex;
	justify-content: center;
}
.logo-rhombus div:nth-child(odd) {
	margin-top: 50px;
}
.logo-rhombus div:nth-child(even) {
	margin-top: 100px;
}
.logo-rhombus-text {
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #18933F;
}
/*технические характеристики*/
.main-section-4 {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-height: 760px;
	align-items: center;
}
.main-section-4-backside {
	position: absolute;
	background: url('../images/back-picture4.png') no-repeat;
	background-position: center top;
	width: 100%;
	height:528px;
	top:193px;
}
.logo-part3 {
	text-align: center;
	margin-top: 55px;
}
.text4 {
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #18933F;
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
}
.white-square-in {
	position: absolute;
	top:0;
	z-index: 2;
}
.white-square {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-width: 1217px;
	min-height: 769px;
	border: 3px solid #d5dfec;
	border-radius: 3px;
	background-color:rgba(255,255,255,0.6);
	z-index: 1;
}

/* Таблица */
.main-section-table-4-all {
	display: flex;
	justify-content: center;
	margin-top: 133px;
}

.main-section-table-4 {
	font-size: 14px;
	background: #ffffff;
  	color: #000000;
  	border: 3px solid #d5dfec;
	border-radius: 3px;

}
.main-section-table-4 th, td {
	border: 1px solid #d5dfec;
	padding: 10px 15px;
	text-align: center;
}
.main-section-table-4 th {
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
	background-color: #01983b;
	background-image:url(../images/pattern.png);
}
.main-section-table-4 th:first-child {
	text-align: left;
}
.main-section-table-4 td:first-child {
	text-align: left;
}
.table-4:nth-child(even) {
	background: #F5F6F7;
}
.shadow-down4 {
	display: flex;
	justify-content: center;
}

/*задачи*/

.main-section-5 {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 480px;
	background: url('../images/back-picture5.png') no-repeat;
	/*background-size:contain;*/
	background-position: center top;

}
.text5 {
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #18933F;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
}

.table-color {
	max-width: 1225px;
	margin-top: 29px;
	margin-bottom: 39px;
	border-spacing: 0 5px;
	font-size: 14px;
	color: white;
}
.table-color td {
	border: 0;
	box-sizing: border-box;
}
.table-color td:nth-child(1){
	min-width: 60px;
	background-color: rgba(251, 0, 25, 0.3);
}
.table-color td:nth-child(2){
	min-width: 60px;
	background-color: rgba(251, 0, 25, 0.6);
}
.table-color td:nth-child(3){
	min-width: 30px;
	padding: 6px 15px;
	vertical-align: top;
	background-color: rgba(251, 0, 25, 1.0);
}
.table-color td:nth-child(4){
	min-width: 310px;
	padding: 12px 5px;
	text-align: left;
	vertical-align: top;
	background-color: rgba(251, 0, 25, 1.0);
}
.table-color td:nth-child(5) {
	min-width: 9px;
	padding: 0;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(255, 255, 255, 1.0);

}
.table-color td:nth-child(6){
	min-width: 30px;
	padding: 6px 15px;
	vertical-align: top;
	background-color: rgba(23, 147, 63, 1.0);
}
.table-color td:nth-child(7) {
	min-width: 538px;
	padding: 12px 5px;
	text-align: left;
	vertical-align: top;
	background-color: rgba(23, 147, 63, 1.0);

}
.table-color td:nth-child(8) {
	min-width: 60px;
	background-color: rgba(23, 147, 63, 0.6);
}
.table-color td:nth-child(9) {
	min-width: 60px;
	background-color: rgba(23, 147, 63, 0.3);
}

/*сертификаты качества*/
.main-section-6 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6px;
}
.logo-part6 {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}
.text6 {
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #073d79;
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
}
.fresco-galery{
	display: flex;
	justify-content: center;
	min-width: 980px;
	margin-top: 26px;
	margin-bottom: 11px;

}
.fresco-image img {
	max-width: 145px;
	max-height: 205px;
	padding-right:20px;
	padding-left: 20px;
}
.text-6 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: rgba(49, 47, 127, 1.0);
	text-transform: uppercase;
	margin-top: 11px;
}
.medal-of-honor img {
	width: 113px;
	height: 96px;
	margin-bottom: 46px;
}
/*контакты*/
.main-section-7 {
	display: flex;
	flex-direction: column;
	justify-content: center;


}
.contacts-all {
	position: relative;
	z-index: 1;
	margin: auto;
	width: 1225px;
	min-height: 200px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #139f49;
	background-image:url('../images/pattern.png');
	margin-bottom: -40px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}
.contacts div:nth-child(1) {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: white;
}
.contacts div:nth-child(n+2):nth-child(-n+3) {
	text-align: center;
	font-size: 18px;
	color: white;
}
.tel-7 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.tel-7 a {
	color: white;
	text-decoration-line: none;
	line-height: 160%;
}
.tel-7 a:hover {
		text-decoration-line:underline;
}
.iframe-map iframe {
	display: flex;
	justify-content: center;
	margin: auto;
	width:100%;
	height: 337px;
}

/*footer*/
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 312px;
	background:url('../images/pattern.png'),#139f49 
	url('../images/penoboard1.png') no-repeat;
	background-position: center center;
}
.footer-icon {
	text-align: center;
	margin-top: 26px;
}
.footer-icon img:hover {
		opacity: 0.5;
}
.footer-headline {
	text-align: center;
	margin-top: 5px;
		
}
.footer-year {
	text-align: center;
	font-size: 12px;
	color: white;
}
.footer-social-networks {
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
	color: white;
}
.footer-social-networks-icons {
	text-align: center;
	margin-top: 5px;
}
.footer-social-networks-icons a:hover {
	opacity: 0.5;
}
.footer-link {
	margin-top: 100px;
	font-size: 12px;
	text-align: center;
}
.footer-link a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.footer-link:hover a {
	text-decoration-line:underline;
}
