body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	/*outline: 1px solid red;*/
}

/*top menu*/
.menu-all {
	background-color: #139f49;
	background-image:url('../images/pattern.png');
}

.flex-menu {
	display: flex;
	padding: 0;
	margin: 0;
	height: 75px;
	justify-content: space-between;
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	/*outline: 1px solid green;*/
}

.flex-menu li {
	display: flex;
	align-items:center;
  	justify-content:center;
}

.flex-menu li a {
	text-decoration-line: none;
	color: white;
}
.flex-menu li a:hover {
	color: white;
	text-decoration-line: overline underline;
}
.header-menu:active {
	opacity: 0.5;
}
.header-menu.is-active{
	text-decoration-line: overline underline;
}

/*top menu*/

.main-section {
	height: 720px;
	background: url('../images/art_museum_render_1.jpg') no-repeat;
	background-position: center center;
}
.panel-wrapper {
	display: flex;
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	justify-content:space-between;
	margin-top: 40px;
}
.logo-part{
	margin-top: -10px;
}
.menu-part {
	display: flex;
	justify-content: flex-end;
}
.menu-part span {
	font-size: 12px;
	color: #6cb781;
	margin-top: 5px;
	margin-right: 8px;
}
.menu-part a {
	margin-right: 5px;
}
.menu-part a:hover {
	opacity: 0.5;
}
.tel a {
	text-decoration-line: none;
	line-height: 10px;
}
.tel a:hover {
	text-decoration-line: underline;
}
.search-magnifier {
	display: flex;
	justify-content: flex-end;
}
.search {
	width: 380px;
	border-radius: 0;
	border: 1px solid white;
	border-bottom: 1px solid #cecece;
}
.magnifier {
	border: 1px solid white;
}

/*slider*/
.slider {
	display: flex;
	justify-content: center;
	max-width: 980px;
	max-height: 495px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
.slider-image {
	position: static;
}
.slider-text {
	position: absolute;
	left:0;
	bottom:50px;
	background: rgba(0,0,0,0.4);
	max-width: 770px;
	color:#fff;
	font-family:EuropeExt, sans-serif;
	font-weight: normal;
   	font-size: 30px;
	text-transform: uppercase;
	padding-top: 33px;
	padding-bottom: 5px;
	padding-left:  30px;
	padding-right: 60px;
}

.slider-text-down{
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size:24px;
	margin-top:15px;
}

/*stylization dots*/
.slick-dots{
	position: absolute;
	text-align: left;
	bottom: 15px;
	margin-left: 25px;

}
.slick-dots li {
	width: 32px;
	height: 12px;
	color:#ffffff;
	background: #ffffff;
}

.slick-dots li.slick-active {
	color:#01983b;
	background: #01983b;
}
.slick-dotted.slick-slider{
	margin-bottom: 0;
}

/*stylization arrows*/
.slick-prev:before,
.slick-next:before{
 	font-size: 36px;
	color: black;
	opacity: .25;
}
.slick-prev{
	left:-50px;
}
.slick-next{
	left: 995px;
}

.shadow-down {
	display: flex;
	justify-content: center;
}
/*block with video*/
.main-section-2 {
	background: url('../images/penopolistirol.png') no-repeat;
	background-position: center top;
	background-size: auto;
}
.logo-part2 {
	display: flex;
	justify-content: center;
	padding-top: 70px;
}
.text2 {
	font-family:EuropeExt, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #073d79;
	text-align: center;
	text-transform: uppercase;
	padding-top: 23px;
}
.video-content {
	display: flex;
	justify-content: center;
	padding-top: 12px;
}
.shadow-down2 {
	display: flex;
	justify-content: center;
}
.text-content {
	margin-top: -35px;
	margin-right: auto;
	margin-left: auto;
	max-width: 980px;
	font-size: 14px;
	line-height: 1.5em;
	text-align: center;
}
.button-push {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 26px;
}
.button-push a {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 405px;
	height: 52px;
	background: #01983b;
	border-radius: 4px;
	font-family:EuropeExt, sans-serif;
	font-size: 24px;
	text-decoration-line: none;
	text-transform: uppercase;color: #ffffff;
	background-image:url('../images/pattern.png');
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}
.button-push a:hover {
	background-color: #70c590;
}
.button-push a:active {
	background-color: #004b1d;
 }